/* Hide scrollbar initially */
::-webkit-scrollbar {
  width: 6px;
}

/* Make scrollbar fully transparent when not scrolling */
::-webkit-scrollbar-thumb {
  background: transparent;
  transition: background 0.5s ease-in-out;
}

/* Show scrollbar when scrolling */
body:active ::-webkit-scrollbar-thumb,
body:hover ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

html {
  overflow-y: scroll;
  scrollbar-width: none;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}

:root {
  --swiper-navigation-color: white;
}

.swiper-button-next,
.swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  /* Let it grow based on padding */
  height: auto;
  padding: 1.7rem;
  /* <<< THIS is the padding around the arrow */
  border-radius: 9999px;
  /* Circle shape */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem;
}

@media (min-width: 768px) {

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.2);
    /* optional: make it pop slightly on hover */
  }
}